body{
	background-color: #0097A7/*#151515#ffffff*/;
}

 @font-face {
  	font-family: Dosis;
  	src: url(fonts/Dosis/Dosis-Regular.ttf);
  }

.sign{
	fill:none;
	stroke:/*#FF9800#18FFFF*/#C6FF00/*#ffffff*/;
	stroke-linecap="round";
	stroke-miterlimit:10;
	stroke-width:3;
  	/*stroke-dasharray: 800, 40;
  	stroke-dashoffset: 1000;
  	animation: dash 4s linear infinite; forwards; */
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 150;
  }
}
	
/*	.st1{fill:#C6FF00;font-family:'Ubuntu Mono', monospace;font-size:16px;}
	.pulse{animation: tac 10s;}
	@keyframes tac{0%{transform: translateX(0px);}  40%{transform:scaleX(0.5);} 80%{transform:scaleX(2);} 100%{transform: translateX(960px);}}
*/

myname{
	color:#C6FF00;
	font-family: Dosis;
	font-size: x-large;

}

